<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Flask-Image</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample09">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('explore')}}">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('categories')}}">Categories</a>
                    </li>
                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{url_for('upload')}}" tabindex="-1" aria-disabled="true">Upload</a>
                    </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown"
                            aria-expanded="false"></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown09">
                            <li><a class="dropdown-item" href="{{url_for('profile', username=current_user.username)}}">Profile</a></li>
                            <li><a class="dropdown-item" href="{{url_for('upload')}}">Upload</a></li>
                            <li><p class="dropdown-item">{{current_user.username}}</p></li>
                            <hr>
                            <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                {% if current_user.is_anonymous %}
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
                <a class="nav-link" href="{{url_for('register')}}">Register</a>
                {% endif %}
                   
                
            </div>
        </div>
    </nav>
</div>