{% extends "layout.html" %}
{% block body %}
<h1>Explore</h1>

{% if images == 0 %}
<h1>No Uploaded Images Yet</h1>
<a href="{{url_for('upload')}}">Upload Now?</a>
{% else %}
{% for image in images %}
<h4>
    Uploaded By
    <a href="{{url_for('profile', username=image.author.username)}}">
        <span>{{image.author.username}}</span>
    </a>
</h4>
<a href="{{url_for('image', pic_id=image.id)}}">
    <img src="data:;base64, {{ image.rendered_data }}" style="width: 600px; height: 400px;">
</a>
<a class="card-title" href="{{url_for('image', pic_id=image.id)}}">{{image.text|capitalize}}</a>
<br>
<span class="badge bg-primary">Category:</span>
<a href="{{url_for('categories_name', name=image.category_name)}}">
<p>{{image.category_name}}</p>
</a>
<span class="badge bg-primary">Uploaded On:</span>
<p>{{image.pic_date}}</p>
<hr>
{% endfor %}
{% endif %}
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Custom cards</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for image in images %}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg card-img-top "
                style="background-image: url('data:;base64, {{ image.rendered_data }}'); ">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-info">
                        <a class="text-info" href="{{url_for('image', pic_id=image.id)}}" style="text-decoration: none;">{{image.text|capitalize}}</a></h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>by: 
                                <a class="text-white" href="{{url_for('profile', username=image.author.username)}}" style="text-decoration: none;">{{image.author.username}}</a></small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <a href="{{url_for('categories_name', name=image.category_name)}}">
                            <small>#{{image.category_name}}</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}