{% extends "layout.html" %}
{% block body %}
<h1>Profile</h1>
<span>Username:</span> {{user.username}} <br>
{% if current_user.is_authenticated %}
{% if user == current_user %}
<a href="{{ url_for('edit_profile') }}"><span>Edit Profile</span></a></p>
{% endif %}
{% endif %}


<hr>
{% if user.about_me %}
<h6> Bio</h6>
<p>{{ user.about_me }}</p>
{% else %}
<h6>Write something about yourself</h6>
<td>
    <tr>Placeholder</tr>
</td>

{% endif %}
<hr>
{% if user.images %}
<h3>Images uploaded by {{user.username}}</h3>
{% for image in images %}
<a href="{{url_for('image', pic_id=image.id)}}">
<img src="data:;base64, {{ image.rendered_data }}" style="width: 600px; height: 400px;">
</a>
{% endfor %}
{% else %}
<h4>No Images Uploaded Yet</h4>
{% endif %}
{% endblock %}